<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Image Result</title>
</head>

<body>
    <h1>Image Uploaded Successfully</h1>
    <img src=<%=imageUrl %> alt="Uploaded Image">
    <br>

    <pre><%= result %></pre>

    <!-- Display additional information here -->
</body>

</html>